body {
    background-color: #EDEDED;
}

#container {
    width: 800px;
    margin-top: 50px;
    margin-left: 100px;
    text-align: center;
    background-color: white;
    color: black;
}

.div_cabecalho {
    background-image: url("../img/background.jpg");
    background-size: cover;
    padding-top: 70px;
    width: 800px;
    height: 100px;
    font-family: Arial;
    font-size: 30px;
    font-style: italic;
    color: white;
    font-weight: bold;
}

#div_menuh {
    text-align: center;
    background-color: #a2c4d1;
    width: 800px;
    height: 30px;
    font-family: Arial;
    font-size: 14px;
    color: white;
    padding-top: 10px;
}

#div_menuh ul {
    padding: 0px;
    margin: 0px;
    list-style: none;
}

#div_menuh ul li {
    display: inline;
}

#div_menuh ul li a {
    /*preenchimento superior e inferior 2px*/
    /*preenchimento esquerdo e direito 10px*/
    padding: 2px 10px;
    /*Padding em cima e em baixo, e dos lados*/
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;
}

#div_menuh ul li a:hover {
    /*efeito quando passar o mouse*/
    color: #bd95a1;
    border-bottom: 3px solid #bd95a1;
}

#div_menuv {
    width: 200px;
    float: left;
    background-color: #cfa5b2;
    height: 300px;
    color: white;
}

#div_menuv ul {

    display: block;

}

#div_menuv ul>li { /*seletor filho direto*/

    padding: 2px 10px;
    text-align: left;
    display: block;
    color: white;
    text-decoration: none;

}

#div_menuv ul li>a { /*seletor filho direto*/

    /*preenchimento superior e inferior 2px*/
    /*preenchimento esquerdo e direito 10px*/
    padding: px 10px;
    display: inline-block;
    color: white;
    text-decoration: none;
    border-bottom: 3px solid white;

}

#div_conteudo {
    width: 400px;
    float: left;
    background-color: #a2c4d1;
    height: 300px;
    color: white;
}

#div_conteudo h1~p { /*seletor irmão direto, não se aplica ao h1 somente aos irmãos dele*/

    margin-top: 5px;
    background-color: slategrey;
    width: 300px;
    height: 30px;
    margin-left: 40px;
    color: white;

}

#div_noticias {
    width: 200px;
    float: left;
    background-color: #cfa5b2;
    height: 300px;
    color: white;
}

#div_noticias img {

    width: 100px;
    height: 100px;
    margin-top: 10px;

}

#div_noticias img+p { /*Irmão adjacente seleciona o irmão após ele*/

    font-size: 20px;
    font-family: 'Times New Roman', Times, serif;

}

#div_rodape {
    background-color: #bd95a1;
    width: 800px;
    height: 100px;
    clear: both;
    /*  clear: both:não permite elementos flutuantes, usada para fixar o rodapé, de certa for deixa responsivo o site*/

}