section {
    width: 850px;
    background-color:black;
    color: white;
    text-align: center;
    margin-left: 200px;
    padding-bottom: 20px;
}

header {
    width: 850px;
    height: 300px;
    float: left;
    background-color: black;
}

#menu-navegacao {
    list-style: none;
}

#coluna-1 {
    float: left;
    text-align:  left;
    font-size: 20px;
    width: 200px;
    height: 400px;
    background-color: black;
    color: white;
}
#coluna-2 {
    float: left;
    text-align:  center;
    font-size: 20px;
    width: 649px;
    border-right: 1px solid silver;
}

.estilo-tabela{
    border: 2px rgb(226, 43, 159) solid;
    text-align: center;
    margin-left: 150px;
}


